<!doctype html>
<title>Upload</title>
<h2>Select a video to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div style="margin: 10px auto;">
		<video autoplay="autoplay" controls="controls" preload="preload">
			<source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>
		</video>
	</div>
{% endif %}
<form method="post" action="" enctype="multipart/form-data">
    <dl>
		<p><input type="file" name="file" autocomplete="off" required="required"></p>
		<p>Title: <input type="text" name="title" id="title" class="form-control" required="required"></p>
		<p>Preview: <input class="btn btn-primary" type="file" id="img" name="img"></p>
		<p>Description: <textarea rows="2" class="form-control" name="desc" id="desc"></textarea></p>
    	<p>Key words: <input type="text" name="key_words" class="form-control"></p>
	</dl>
    <p>
		<input type="submit" value="Upload">
	</p>
</form>

